{% extends 'base.html.twig' %}

{% block title %} Accueil de {{ name }} {% endblock %}

{% block body %}
<h1>Bonjour et bienvenue, {{ name }}</h1>
<ul>
    {% for note in notes %}
        <li>{{ note }}</li>
    {% endfor %}
</ul>
{% endblock %}